main {
  min-height: 50vh;
}

.contact-option-row{
 display: flex;
 justify-content: space-between;
 align-items: center;
 flex-wrap: wrap;
 margin: 0 0 30px 0;
}
.contact-option {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 20px;
  mat-icon {
    color: #204551;
    margin: 0 8px 0 0;
  }
}
.--email-option{
  text-decoration: none;
}


.form-wrapper {
  width: 95%;
  max-width: 500px;
  position: relative;
  margin: 0 auto;
  padding: 25px;
  top: -30px;
  background: #fafafa;
  border-radius: 5px;
  box-shadow: 0 5px 10px 0px #00000025;
}

.contact-form {
  display: flex;
  flex-direction: column;
}

.negative {
  color: red;
}

.button-box {
  text-align: right;
}

.submit-btn{
  &:disabled {
    background-color: #204551aa !important;
    color: #ffffff !important;
  }
}