<app-header [title]="title"
  [description]="description"
  [backgroundImgURL]="imgURL"
  [height]="headerHeight"></app-header>
<main>
  <div class="form-wrapper">
    <div class="contact-option-row">
      <a class="--email-option"
        href="mailto:deon@tk360llc.com?subject=TK360%20Contact%20Email">
        <div class="contact-option">
          <mat-icon>email</mat-icon>
          <p>deon@tk360llc.com</p>
        </div>
      </a>
      <div class="contact-option">
        <mat-icon>phone</mat-icon>
        <p>571-201-0311</p>
      </div>
    </div>
    <h3 class="form-title">Contact Form</h3>
    <form action="#"
      [formGroup]="ContactFG"
      class="contact-form"
      (ngSubmit)="handleContactFormSubmit()">
      <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput
          type="text"
          formControlName="name"
          [autocomplete]="false">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput
          type="email"
          formControlName="email"
          [autocomplete]="false">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Phone Number</mat-label>
        <input matInput
          type="tel"
          formControlName="phoneNumber"
          [autocomplete]="false">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Message</mat-label>
        <textarea matInput
          cdkTextareaAutosize
          #autosize="cdkTextareaAutosize"
          cdkAutosizeMinRows="5"
          formControlName="message"></textarea>
        <mat-hint [ngClass]="{
          negative: charactersRemaining < 0
        }">{{charactersRemaining}} characters remaining</mat-hint>
      </mat-form-field>
      <div class="button-box">
        <button mat-raised-button
          role="submit"
          class="submit-btn btn bk-green"
          [disabled]="ContactFG.invalid">
          Send
        </button>
      </div>
    </form>
  </div>
</main>