<app-header [title]="title"
  [description]="description"
  [backgroundImgURL]="imgURL"></app-header>

<main>
  <section class="content-column">
    <div class="section-header">
      <div class="title-box">
        <h2 class="section-heading shadow-heading">About Us</h2>
      </div>
      <img class="title-img"
        src="/assets/images/undraw_construction.svg"
        alt="Construction workers"
        height="155px">
    </div>
    <div class="about-content">

      <p>TK360 is a local residential and commercial remodeling company founded in September
        2014. </p>

      <p>Since its founding, TK360 has successfully completed kitchen updates, bathroom
        remodels, basement renovations, roof replacement, new decks and patios, home
        expansions, floor-plan redesigns, and a variety of other major home renovations.</p>

      <p>We are proud to put the same time and attention to minor projects such as drywall
        repair, painting, appliance installation, tiling, and more. No project is
        too small or too big, we treat all projects the same to achieve top quality
        results that our clients envision. TK360 where the only corners we cut are
        the ones that make your project look sharp!</p>

      <p>TK360 employs licensed contractors and subcontractors with specialized expertise
        who all strive to complete our clients’ projects with quality, on time, and
        within budget.</p>

      <p>TK360 LLC is the premier home remodeling company serving Washington DC and
        the surrounding area. When you need a minor update done to your old kitchen
        cabinets or a complete makeover of your bathroom, just know that we’re the
        contractors that can get the job done right the first time for you!</p>

      <p>We’re a full-service company that specializes in interior and exterior home
        improvements. The primary services to redesign your property include bathroom
        remodeling, kitchen remodeling, flooring, drywall installation, painting,
        cabinet refinishing, and more.</p>

      <p>Additionally, we offer a few handyman services such as house repair, home glass
        repair, minor electrical repair, flooring, and plumbing. Our mission is to
        make your dream home renovation project become a reality.</p>

      <p>TK360’s key values are integrity, reliability, and a strong customer relationship.
        These three values are the foundation of our company and are a daily reminder
        of who we are and what we are about. We strongly believe that our company
        is successful because of the relationships that we develop with our clients.</p>

      <p>While providing superior construction services in and around VA, with loyal
        customer service, TK360’s mission is to deliver cost-effective solutions
        to your every remodeling need. By building your vision into a reality, we
        guarantee the highest satisfaction with your finished project.</p>

    </div>
  </section>


  <div class="section-wrapper">
    <section class="content-column">
      <div class="about-content">
        <h2>Our Partners and Trusted Associates</h2>
        <div class="partner-grid">
          <img src="/assets/images/partners/logo_Aasco.png"
            alt="Asphault Paving and Sealcoating"
            width="155px">
          <img src="/assets/images/partners/logo_ACE.png"
            alt="ACE Hardware"
            width="155px">
          <img src="/assets/images/partners/logo_ASM.png"
            alt="Action Sheet Metal"
            width="155px">
          <img src="/assets/images/partners/logo_DelRay-Glass.png"
            alt="Del Ray Glass"
            width="155px">

          <img src="/assets/images/partners/logo_Ferguson.png"
            alt="Ferguson"
            width="155px">

          <img src="/assets/images/partners/logo_Floor-Decor.png"
            alt="Floor Decor"
            width="155px">
          <img src="/assets/images/partners/logo_Grainger.png"
            alt="Grainger"
            width="155px">

          <img src="/assets/images/partners/logo_Lansing-Building-Products.png"
            alt="Lansing Building Products"
            width="155px">
          <img src="/assets/images/partners/logo_lowes.png"
            alt="Lowes"
            width="155px">

          <img src="/assets/images/partners/logo_Lumber-Liquidators.png"
            alt="Lumber Liquidators"
            width="155px">
          <img src="/assets/images/partners/logo_roof-center.png"
            alt="Roof Center"
            width="155px">
          <img src="/assets/images/partners/logo_Smoot-Lumber.png"
            alt="Smoot Lumber"
            width="155px">
          <img src="/assets/images/partners/logo_Tart-Lumber.png"
            alt="Tart Lumber"
            width="155px">
          <img src="/assets/images/partners/logo_Trench-Drain-Supply.png"
            alt="Trench Drain Supply"
            width="155px">
          <img src="/assets/images/partners/logo_USA-Cabinets.png"
            alt="USA Cabinets"
            width="155px">


        </div>

      </div>
    </section>
  </div>


</main>