<footer>
  <div class="footer-row">
    <div class="footer-block">
      <h3>Our Mission</h3>
      <p>Your home is so much more than a place to live. It’s where you create memories.
        It’s where you start and continue traditions that will be handed down for
        generations. When your house starts to feel a little small or a little less
        homey it’s time to make a change. Your best option is to explore a home remodel,
        kitchen remodel, bathroom remodel, or a room addition. Our mission is to
        help you with your dream design.
      </p>
    </div>
    <div class="footer-block">
      <h3>Connect with Us</h3>
      <!-- <div class="contact-row">
        <app-social-media></app-social-media>
      </div> -->
      <div class="contact-row --email-row">
        <a href="mailto:deon@tk360llc.com?subject=TK360%20Contact%20Email">
          <div class="contact-heading">
            <!-- <mat-icon>email</mat-icon> -->
            <h4>Email</h4>
          </div>
          <p>deon@tk360llc.com</p>
        </a>
      </div>
      <div class="contact-row">
        <div class="contact-heading">
          <!-- <mat-icon>phone</mat-icon> -->
          <h4>Phone</h4>
        </div>
        <p>571-201-0311</p>

      </div>
      <div class="contact-row">
        <div class="contact-heading">
          <!-- <mat-icon>location_on</mat-icon> -->
          <h4>Address</h4>
        </div>
        <p>360 N. Glebe Rd</p>
        <p>Unit #3</p>
        <p>Arlington VA 22203</p>
      </div>
      <div class="contact-row">
        <div class="contact-heading">
          <!-- <mat-icon>access_time</mat-icon> -->
          <h4>Hours</h4>
        </div>
        <p>Mon-Sat 8:30AM-5:30PM </p>
      </div>
      <div class="contact-row">
        <div class="contact-heading">

        </div>
        <app-social-media></app-social-media>
      </div>
    </div>
  </div>
  <div class="footer-row --bottom">
    <p class="copyright">Copyright 2018-2020 | TK360 LLC | All Rights Reserved</p>
    <a href="https://www.alexwarnes.com"
      target="_blank"
      class="site-credit-box"
      rel="noopener noreferrer">
      <span>Website by Alex Warnes</span>
      <mat-icon>open_in_new</mat-icon>
    </a>
  </div>
</footer>