.footer-row {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;

  &.--bottom {
    font-size: 12px;
    padding: 0 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.footer-block {
  width: 100%;
  max-width: 350px;
  padding: 20px;

  h3 {
    font-size: 24px;
    margin: 0 0 20px 0;
  }
}

.contact-row {
  margin: 20px 0;  
  mat-icon{
    transition: color .2s ease;
  }

  + * {
    margin: 15px 0;
  }
  p {
    font-size: 14px;
    padding: 0 0 0 34px;
  }

  a {
    text-decoration: none;
  }

  &.--email-row:hover{
    mat-icon {
      color: #d44241;
    }
  }
  
}

.contact-heading {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 20px 0 5px;

  h4 {
    margin: 0 0 0 30px;
  }
}

.copyright {
  padding: 5px 10px;
}

.site-credit-box {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 15px 0;
  padding: 5px 10px;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  transition: all .4s ease-out;

  mat-icon {
    font-size: 14px;
    height: unset;
    width: unset;
    margin: 0 0 0 5px;
  }

  &:hover {
    border-bottom: 1px solid #d44241;
    background-color: #33333308;
  }

}