
.header-container {
  position: relative;
  width: 100%;
  height: 98vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px 0 0;
}

// HEADER WITH CLIP

// .header-img {
//   position: absolute;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
//   z-index: 1;
//   background-image: url("https://images.unsplash.com/photo-1481026469463-66327c86e544?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=824&q=80");
//   background-position: center;
//   background-size: cover;
// }

// .header-content {
//   max-width: 90%;
//   background: #ffffffd0;
//   background-color: #ffffffd0;
//   padding: 10% 0 0 20%;
//   display: flex;
//   justify-content: flex-start;
//   align-items: flex-start;
//   flex-direction: column;
//   clip-path: polygon(100% 0, 100% 80%, 80% 100%, 0 100%, 0 0);
//   z-index: 2;
// }

// HEADER WITH GRADIENT, NO CLIP
.header-container {
  background-position: left;
  background-size: cover;
}

.header-content {
  max-width: 600px;
  background: transparent;
  // background-color: #ffffffd0;
  padding: 20px;
  // margin: 0 auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  // clip-path: polygon(100% 0, 100% 80%, 80% 100%, 0 100%, 0 0);
}


// END HEADER OPTIONS

.title{
  letter-spacing: 6px;
  font-size: 3em;
  font-weight: 600;
  box-shadow: 5px 5px 0 #204551;
}

.description {
  // max-width: 90%;
  margin: 15px 0 25px 0;
  color: #333333ca;
  text-align: center;
}

