.img-row{
  position: relative;
}

.dialog-img {
  max-width: 100%;
  max-height: 80vh;
}

.img-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.dialog-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 24px 0;
}

.prev-btn, .next-btn {
  position: absolute;
  bottom: 3px;
  min-width: unset;
  line-height: 0;
  background: #ffffff88;
  padding: 0;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2), 0px 0px 0px 0px rgba(0, 0, 0, 0.14), 0px 0px 0px 0px rgba(0, 0, 0, 0.12);
  border-radius: 50%;
}

.next-btn {
  right: 3px;
}

.prev-btn {
  left: 3px;
}