
.service-list {
  width: 100%;
  padding: 10px 5px;
}

.service-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 5px 5px 5px 10px;

  i, span{
    color: #333333;
  }

  i {
    margin: 0 10px 0 0;
  }
}

.contact-btn {
  margin: 30px 0 0;
  font-size: 14px;
  background: #204551;
  border-radius: 0;

  transition: all .3s ease;
  box-shadow: 5px 5px 0 #333333;

  span {
    color: #ffffff;
  }

  &:hover {
    cursor: pointer;
    box-shadow: -5px -5px 0 #333333;
  }
}

.services-section{
  padding: 40px;
}

.section-header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 0 60px 0;


  .title-box {
    margin: 0 0 15px 0;
    max-width: 350px;
  }
}

.section-heading {
  font-size: 32px;
}

.service-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 25px auto;
}

.jobs-section {
  background: #204551;
  padding: 100px 50px;
  color: white;

  .subtext {
    margin: 20px 0;
  }

  button {
    border-color: #fafafa;
  }
}