<app-header [title]="title"
  [description]="description"
  [backgroundImgURL]="imgURL">
  <div class="service-list">
    <div class="service-item">
      <i class="material-icons">business</i>
      <span>Commercial</span>
    </div>
    <div class="service-item">
      <i class="material-icons">house</i>
      <span>Residential</span>
    </div>
    <div class="service-item">
      <i class="material-icons">build</i>
      <span>Handyman</span>
    </div>
    <div class="service-item">
      <button mat-button
        role="link"
        routerLink="/contact"
        class="btn bk-red">
        Get in Touch
      </button>
    </div>
  </div>
</app-header>
<main>
  <section class="services-section">
    <h2 class="section-heading shadow-heading">Services</h2>
    <button class="btn bk-red"
      mat-button
      routerLink="/services">Learn More</button>

    <div class="service-card-container">
      <app-service-card *ngFor="let service of (serviceCards$ | async)"
        [title]="service.title"
        [description]="service.description"
        [iconPath]="service.iconPath"></app-service-card>
    </div>

  </section>
</main>