<app-navbar></app-navbar>

<mat-sidenav-container class="sidenav-container"
  [ngClass]="{
    '--desktop':(displayType$ | async)==='DESKTOP',
    '--mobile':(displayType$ | async)==='MOBILE'
  }"
  (backdropClick)="closeSidenav()">

  <!-- SIDENAV MENU -->
  <mat-sidenav [opened]="sidenavIsOpen$ | async"
    class="sidenav-menu"
    [ngClass]="{
      '--desktop':(displayType$ | async)==='DESKTOP',
      '--mobile':(displayType$ | async)==='MOBILE'
    }">
    <app-nav-menu></app-nav-menu>
  </mat-sidenav>

  <!-- APP CONTENT -->
  <mat-sidenav-content>
    <div class="sidenav-main"
      [ngClass]="{
        '--desktop':(displayType$ | async)==='DESKTOP',
        '--mobile':(displayType$ | async)==='MOBILE'
      }">
      <router-outlet></router-outlet>
      <app-footer></app-footer>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>