
.sidenav-main {
  width: 100%;
  height: 100%;
}

.sidenav-menu {
  &.--mobile {
    padding: 10px 0 56px;
  }

  &.--desktop {
    padding: 64px 0 10px;
  }
}

.sidenav-container {
  width: 100%;

  &.--mobile {
    // padding: 10px 0 56px;
  }

  &.--desktop {
    // padding: 64px 0 10px;
  }
}