<app-header [title]="title"
  [description]="description"
  [backgroundImgURL]="imgURL">
</app-header>

<main>
  <section class="content-column">
    <div class="section-header">
      <div class="title-box">
        <h2 class="section-heading shadow-heading">Services</h2>

        <button mat-stroked-button
          routerLink="/contact">Get in Touch</button>

      </div>
      <img class="title-img"
        src="/assets/images/undraw_houses.svg"
        alt="Services"
        height="150px">

    </div>
    <div class="service-content">
      <p>We offer complete design, remodel, and emergency construction services for
        DC, Virginia &amp; all surrounding areas.</p>

      <p>A professional staff, experienced contractors, predictable timelines and we
        aim to surpass client expectations. From blueprints to final touches, our
        team will create the kitchen remodel, bathroom remodel or room additions
        you’ve always wanted.</p>

      <p>Please feel free to call me or anyone that would like a reliable local contractor
        that thrives on quality and prompt customer service.</p>

    </div>
  </section>

  <div class="section-wrapper bk-green">
    <section class="content-column">
      <div class="service-content">
        <h2>TK360, LLC is a Full-Service Contractor</h2>

        <p>No project is too small or big, and we even offer emergency service. We are
          licensed and insured and offer a wide list of services:</p>

        <div class="row">
          <ul>
            <li class="list-item">Framing</li>
            <li class="list-item">Insulation</li>
            <li class="list-item">Drywall</li>
            <li class="list-item">Painting</li>
            <li class="list-item">Flooring</li>
            <li class="list-item">Baseboard</li>
            <li class="list-item">Crown Molding</li>
            <li class="list-item">Interior &amp; Exterior Door Replacement/Repairs</li>
            <li class="list-item">Windows</li>
            <li class="list-item">Wall Patching</li>
            <li class="list-item">Full Kitchen Remodel</li>
          </ul>

          <ul>
            <li class="list-item">Full Bathroom Remodel</li>
            <li class="list-item">Full Basement Remodel</li>
            <li class="list-item">Complete Home/ Condo Remodel</li>
            <li class="list-item">Chimney Liner Replacement, Repairs, Cleaning</li>
            <li class="list-item">Water-Proofing</li>
            <li class="list-item">Decks, Fences, Gazebos</li>
            <li class="list-item">Hardscape</li>
            <li class="list-item">Roofing</li>
            <li class="list-item">Plumbing</li>
            <li class="list-item">Electrical</li>
            <li class="list-item">HVAC</li>
          </ul>
        </div>


        <p>In addition to traditional training and experience, our staff is certified
          in multiple practices, and restoration services providing you with options
          that can make your home healthier and more efficient to live in. It is
          our commitment to building quality and trusted working relationships that
          last.
        </p>
      </div>
    </section>
  </div>


  <section class="content-column">
    <div class="service-content">
      <h2>Testimonials</h2>
      <app-testimonial *ngFor="let testimonial of (testimonials$ | async)"
        [title]="testimonial.title"
        [text]="testimonial.text"
        [rating]="testimonial.rating"></app-testimonial>
    </div>
  </section>
</main>