
html, body { height: 100%; }
body { 
  margin: 0;
  background-color: #fafafa;
  font-family: Montserrat, Roboto, "Helvetica Neue", sans-serif; 
  * {
    box-sizing: border-box;
  }
}

main {
  // n/a
}

section.content-column {
  max-width: 1000px;
  margin: 0 auto;
  padding: 40px;
}

h1,h2,h3,h4,p {
  margin: 0;
}

button {
  p, span, a, .mono {
    font-family: 'Roboto Mono', monospace;
  }
}

a {
  color: inherit;

  &.external-link {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    mat-icon {
      margin: 0 0 0 5px;
      font-size: inherit;
      height: unset;
      width: unset;
    }
  }
}

.title-img {
  max-width: 100%;
}

.shadow-heading {
  font-weight: 600;
  width: min-content;
  padding: 0 10px 2px 0;
  margin-bottom: 15px;
  box-shadow: 5px 5px 0 #204551;

  &.--max {
    width: max-content;
  }


  &.--dark {
    box-shadow: 5px 5px 0 #204551;
  }

  &.--light {
    box-shadow: 5px 5px 0 #fafafa;
  }
}

.btn {
  // border-radius: 0 !important;
  transition: all .3s ease !important;
  // box-shadow: 5px 5px 0 #333333 !important;
  color: #ffffff !important;

  &.bk-green {
    background: #204551 !important;
  }

  &.bk-red {
    background: #d44241 !important;
  }

  &:hover {
    cursor: pointer !important;
    // box-shadow: -5px -5px 0 #333333 !important;
  }
}

.override-mini-fab {
    span.mat-button-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      mat-icon {
        font-size: 14px;

      }
    }
}

.section-header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 0 10px 0;

  .title-box {
    margin: 0 0 15px 0;
    max-width: 350px;
  }
}

.section-heading {
  font-size: 32px;
}

@media only screen and (min-width: 640px) {
  .section-header {
    margin: 0 0 45px 0;
  }
}